name: Package & Release

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: self-hosted
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build package
        run: |
          nix build .#packages.x86_64-linux.renix

      - name: Copy build artifacts
        run: |
          mkdir -p artifacts
          cp -L result/bin/renix artifacts/renix-x86_64-linux

      - name: Push to Attic cache
        env:
          ATTIC_TOKEN: ${{ secrets.ATTIC_TOKEN }}
        run: |
          # Login to attic
          attic-client login athena https://attic.lament.gay $ATTIC_TOKEN

          # Push the package to the cache
          attic-client push athena result

      - name: Create GitHub Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: |
            artifacts/renix-x86_64-linux
          draft: false
          prerelease: false
          generate_release_notes: true
